openapi: 3.2.0
info:
  title: AMLL TTML API
  version: 1.0.0
  description: |
    AMLL TTML API 接口文档。

    **基础信息**
    * **协议**: HTTP/HTTPS
    * **内容类型**: `application/json`
    * **CORS**: 允许跨域 (`Access-Control-Allow-Origin: *`)
servers:
  - url: https://api.amll.dev
    description: API 根域名
paths:
  /v1/lyrics/get:
    get:
      summary: 获取歌词
      description: |
        通过唯一的 ID 获取一首歌曲的元数据及其完整的 TTML 歌词。至少需要提供以下任意一个参数。

        **参数优先级**：`id` > `filename` > 平台 IDs
        * `id` 为最高优先级，传入时忽略其他所有参数。
        * `filename` 为次高优先级，传入时将忽略其他平台 ID 参数，直接按文件名精确匹配。
        * 如果仅提供多个不同平台的参数，将使用交集 (AND) 进行匹配，并返回匹配结果中最新的一条。
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
            maximum: 9007199254740991
          description: 由文件名生成的 53 位整数 ID，精确匹配。最高优先级。
        - name: filename
          in: query
          required: false
          schema:
            type: string
          description: 歌词文件名，精确匹配。必须以 `.ttml` 结尾。传入时忽略其他 ID 参数。
        - name: ncmMusicId
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: 网易云音乐 ID
        - name: qqMusicId
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: QQ 音乐 ID
        - name: appleMusicId
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Apple Music ID
        - name: spotifyId
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Spotify ID
        - name: isrc
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: ISRC 编码
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: ttml
            enum:
              - ttml
          description: 保留字段，默认为 ttml。当前仅支持 ttml。
      responses:
        "200":
          description: 成功返回歌曲元数据和歌词
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetResponse"
        "400":
          description: 参数验证失败（未传入任何有效 ID 参数、不支持的 format 值等）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 未匹配到任何歌词
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: 网关错误（未能从 GitHub 获取到 TTML 原文 / 索引数据库更新失败）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/lyrics/search:
    get:
      summary: 搜索歌词
      description: |
        在词库中搜索符合条件的歌词。为了保证接口性能，搜索结果中不包含完整歌词，只返回基础信息。至少需要提供一个参数。如果同时传入 q 和其他参数，则忽略 q，优先使用其他参数。多个非 q 参数之间为 AND 交集关系。空字符串参数视为未传入。
      parameters:
        # 全局搜索
        - name: q
          in: query
          required: false
          schema:
            type: string
          description: 模糊搜索，可组合歌曲名、歌手名和专辑名传入
        # 曲名匹配
        - name: musicName
          in: query
          required: false
          schema:
            type: string
          description: 限定匹配曲名（模糊包含）
        # 歌手匹配
        - name: artistName
          in: query
          required: false
          schema:
            type: string
          description: 限定匹配歌手名（模糊包含）
        # 专辑匹配
        - name: albumName
          in: query
          required: false
          schema:
            type: string
          description: 限定匹配专辑名（模糊包含）
        # 歌词正文匹配
        - name: lyricText
          in: query
          required: false
          schema:
            type: string
          description: 限定匹配歌词正文
        # 歌词作者 GitHub ID 匹配
        - name: authorId
          in: query
          required: false
          schema:
            type: string
          description: 歌词作者 GitHub ID（严格全等）
        # 歌词作者 GitHub 用户名匹配
        - name: authorUsername
          in: query
          required: false
          schema:
            type: string
          description: 歌词作者 GitHub 用户名（严格全等）
      responses:
        "200":
          description: 成功（最多返回前 50 条记录，无匹配时返回空列表）
          content:
            application/json:
              schema:
                type: array
                maxItems: 50
                items:
                  $ref: "#/components/schemas/SearchResponse"
        "400":
          description: 参数验证失败（未传入任何有效请求参数）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: 内部错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/webhook/sync:
    post:
      summary: 触发词库更新
      description: 让 API 从歌词库拉取并更新歌词数据。
      security:
        - BearerAuth: []
      responses:
        "200":
          description: 同步任务触发成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSyncResponse"
        "401":
          description: 鉴权失败（缺失或令牌无效）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: 服务器环境变量设置不正确
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/status:
    get:
      summary: 获取构建与运行状态
      description: 获取当前 API 服务的运行状态、版本号、Git 提交 Hash、构建时间及运行时长等元数据。
      responses:
        "200":
          description: 成功返回状态与构建元数据
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"

  /v1/version:
    get:
      summary: 获取构建与运行状态 (别名)
      description: |
        `/v1/status` 的别名。
      responses:
        "200":
          description: 成功返回状态与构建元数据
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"

  /v1/lrclib/search:
    get:
      summary: Lrclib 兼容搜索
      description: |
        在词库中模糊搜索。响应列表中最多返回前 50 条记录。
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
        - name: track_name
          in: query
          required: false
          schema:
            type: string
        - name: artist_name
          in: query
          required: false
          schema:
            type: string
        - name: album_name
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: 成功（最多返回 50 条）
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LrclibSongItem"
        "400":
          description: 缺少有效的搜索参数
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/lrclib/get:
    get:
      summary: Lrclib 兼容精确匹配
      description: |
        模糊匹配一首歌曲，并返回包含解析后 LRC 歌词与纯文本歌词的结果。
      parameters:
        - name: track_name
          in: query
          required: true
          schema:
            type: string
        - name: artist_name
          in: query
          required: true
          schema:
            type: string
        - name: album_name
          in: query
          required: false
          schema:
            type: string
        - name: duration
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: 成功，返回带有完整 TTML 歌词的数据
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LrclibSongItem"
        "400":
          description: 缺失 track_name 或 artist_name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 匹配得分过低或未找到
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/lrclib/get/{id}:
    get:
      summary: Lrclib 按 ID 提取歌词
      description: 通过搜索接口返回的 `id` 获取完整歌词。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: 成功返回完整歌词
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LrclibSongItem"
        "400":
          description: ID 格式错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: ID 未找到
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Secret Token

  schemas:
    MatchContext:
      type: object
      properties:
        snippet:
          type: string
          description: 检索命中歌词正文的高亮片段
          example: "I'm the only one of me\n<mark>Baby that's the fun of me</mark>\nEeh-eeh-eeh"

    SongItem:
      type: object
      required:
        - filename
        - musicNames
        - artistNames
        - albumNames
        - ncmMusicIds
        - qqMusicIds
        - appleMusicIds
        - spotifyIds
        - isrcs
        - authorIds
        - authorUsernames
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
          description: 由文件名生成的 53 位整数 ID
          example: 269710089745311
        filename:
          type: string
          description: 歌词文件名
          example: "1768754400682-250306205-r6IrpmBd.ttml"
        musicNames:
          type: array
          items:
            type: string
          description: 歌曲名列表
          example: ["ME!", "ME! (feat. Brendon Urie of Panic! At The Disco)"]
        artistNames:
          type: array
          items:
            type: string
          description: 歌手名列表
          example: ["Brendon Urie", "Taylor Swift"]
        albumNames:
          type: array
          items:
            type: string
          description: 专辑名列表
          example: ["Lover"]
        ncmMusicIds:
          type: array
          items:
            type: string
          description: 网易云音乐平台 ID 列表
          example: ["1361348080", "1382781549"]
        qqMusicIds:
          type: array
          items:
            type: string
          description: QQ 音乐平台 ID 列表
          example: ["0032UZe62rZk9K"]
        appleMusicIds:
          type: array
          items:
            type: string
          description: Apple Music 平台 ID 列表
          example: ["1468058706"]
        spotifyIds:
          type: array
          items:
            type: string
          description: Spotify 平台 ID 列表
          example: ["2Rk4JlNc2TPmZe2af99d45"]
        isrcs:
          type: array
          items:
            type: string
          description: ISRC 国际标准音像制品编码列表
          example: ["USUG11901494"]
        authorIds:
          type: array
          items:
            type: string
          description: TTML 歌词贡献者的 GitHub ID 列表
          example: ["108002475", "250306205"]
        authorUsernames:
          type: array
          items:
            type: string
          description: TTML 歌词贡献者的 GitHub 用户名列表
          example: ["SteamFinder", "apoint123"]
        lyrics:
          type: string
          nullable: true
          description: TTML 格式的歌词内容。仅在 `get` 接口中返回。
          example: "ttml字符串..."
        format:
          type: string
          nullable: true
          description: 保留字段。歌词格式标识。仅在 `get` 接口中返回，当前固定为 ttml。
          example: "ttml"
        matchContext:
          $ref: "#/components/schemas/MatchContext"
          nullable: true
          description: 搜索歌词且命中正文时返回的匹配上下文。

    LrclibSongItem:
      type: object
      required:
        - id
        - name
        - trackName
        - artistName
        - albumName
        - duration
        - instrumental
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
          description: 由文件名生成的 53 位整数 ID
          example: 269710089745311
        name:
          type: string
          description: 歌曲名
          example: "ME!"
        trackName:
          type: string
          description: 歌曲名
          example: "ME!"
        artistName:
          type: string
          description: 歌手名
          example: "Taylor Swift"
        albumName:
          type: string
          description: 专辑名
          example: "Lover"
        duration:
          type: number
          format: float
          description: 歌曲时长（单位：秒，由歌词最大结束时间戳计算）
          example: 185.8
        instrumental:
          type: boolean
          description: 是否为纯音乐 (固定为 false)
          example: false
        plainLyrics:
          type: string
          nullable: true
          description: 纯文本歌词
          example: "...I never wanna see you walk away\n(And there's a lot of lame guys out there)\n'Cause one of these things is not like the others..."
        syncedLyrics:
          type: string
          nullable: true
          description: LRC 格式歌词
          example: "...[01:14.66]I never wanna see you walk away\n[01:17.29](And there's a lot of lame guys out there)\n[01:19.26]'Cause one of these things is not like the others..."

    GetResponse:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: integer
          example: 200
        data:
          $ref: "#/components/schemas/SongItem"

    SearchResponse:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: integer
          example: 200
        data:
          type: object
          required:
            - items
          properties:
            items:
              type: array
              maxItems: 50
              items:
                $ref: "#/components/schemas/SongItem"

    WebhookSyncResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: integer
          example: 200
        message:
          type: string
          example: "Sync triggered"

    BuildInfo:
      type: object
      required:
        - commit
        - commitDate
        - buildTime
        - rustcVersion
      properties:
        commit:
          type: string
          example: "c765e4f"
        commitDate:
          type: string
          example: "2026-07-28 04:35:26 +0800"
        buildTime:
          type: string
          example: "1785245209 UTC"
        rustcVersion:
          type: string
          example: "rustc 1.99.0-nightly (375b1431b 2026-07-10)"

    RuntimeStatus:
      type: object
      required:
        - uptimeSeconds
        - lyricCount
      properties:
        uptimeSeconds:
          type: integer
          example: 60
        lyricCount:
          type: integer
          example: 3130

    StatusResponse:
      type: object
      required:
        - status
        - version
        - build
        - runtime
      properties:
        status:
          type: string
          example: "ok"
        version:
          type: string
          example: "0.1.0"
        build:
          $ref: "#/components/schemas/BuildInfo"
        runtime:
          $ref: "#/components/schemas/RuntimeStatus"

    ErrorResponse:
      type: object
      required:
        - status
        - error
        - message
      properties:
        status:
          type: integer
          description: HTTP 状态码
          example: 400
        error:
          type: string
          description: 错误分类
          example: "Bad Request"
        message:
          type: string
          description: 详细的错误原因说明
          example: "Missing valid search parameters."
